fluxoNODE-RED.json
[{"id":"981b6208.c7f4c","type":"tab","label":"marvelBot","disabled":false,"info":""},{"id":"399f7bc0.7e4d44","type":"visual-recognition-v3","z":"981b6208.c7f4c","name":"","vr-service-endpoint":"","image-feature":"classifyImage","lang":"pt-br","x":790,"y":120,"wires":[["80bd326c.24cc5","8a86b914.99d2f8"]]},{"id":"325567d8.f5cad8","type":"function","z":"981b6208.c7f4c","name":"Converte Entrada","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\n\nmsg.params = {\n    threshold: 0.1,\n    classifier_ids: ['Marvel_116789168']\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":120,"wires":[["399f7bc0.7e4d44"]]},{"id":"80bd326c.24cc5","type":"function","z":"981b6208.c7f4c","name":"Converte Saida (Photo)","func":"models = msg.result.images[0].classifiers;\n\noutput = 'Não reconheci nenhum herói da Marvel.';\n\nif(models) {\n    list = [];\n    // for model in models\n    models.forEach(model => {\n        if(model.classes) {\n            model.classes.forEach(c => list.push(c.class));\n        }\n    });\n    if(list.length !== 0) {\n        output = \"Eu reconheci: \" + list.join(', ');\n    }\n}\n\nmsg.payload = {\n  chatId: msg.chatId,\n  type: \"message\",\n  content: output\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":200,"wires":[["d83aceb4.1ad278"]]},{"id":"392e0cf8.388d14","type":"debug","z":"981b6208.c7f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":500,"wires":[]},{"id":"b708b4c1.8dd128","type":"switch","z":"981b6208.c7f4c","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"photo","vt":"str"},{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":200,"wires":[["325567d8.f5cad8"],["e6d9dad2.1771d8"],["ec54cd2c.d5f098"]]},{"id":"e6d9dad2.1771d8","type":"function","z":"981b6208.c7f4c","name":"Entrada de Texto","func":"msg.chatId = msg.payload.chatId;\nsession_id = msg.payload.session_id !== 'undefined' ?  msg.payload.session_id : msg.chatId;\n\nmsg.params = {\n    \"session_id\" : session_id\n}\n\nmsg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":200,"wires":[["5e50f6f1.40996"]]},{"id":"3d6604da.311e2c","type":"function","z":"981b6208.c7f4c","name":"Converte Saida (Texto)","func":"msg.payload = {\n    chatId: msg.chatId,\n    type: 'message',\n    content: msg.payload.output.generic[0].text\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":260,"wires":[["d83aceb4.1ad278"]]},{"id":"f0289a5e.595ba","type":"inject","z":"981b6208.c7f4c","name":"Marvel(teste)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Quem é homem de ferro?","payloadType":"str","x":570,"y":480,"wires":[["5e50f6f1.40996"]]},{"id":"8a86b914.99d2f8","type":"debug","z":"981b6208.c7f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":40,"wires":[]},{"id":"b531b4e9.3756f8","type":"debug","z":"981b6208.c7f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"5e50f6f1.40996","type":"watson-assistant-v2","z":"981b6208.c7f4c","name":"marvelBot","service-endpoint":"","assistant_id":"4c896ebb-30e6-4430-abf3-9126bdbf0401","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":800,"y":380,"wires":[["3d6604da.311e2c","392e0cf8.388d14"]]},{"id":"b6f35490.929e08","type":"change","z":"981b6208.c7f4c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weblink","tot":"msg"},{"t":"set","p":"audio","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":380,"wires":[["2b185a0b.5f6c86"]]},{"id":"ec54cd2c.d5f098","type":"function","z":"981b6208.c7f4c","name":"Entra de áudio","func":"msg.chatId = msg.payload.chatId;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":280,"wires":[["b6f35490.929e08"]]},{"id":"2b185a0b.5f6c86","type":"watson-speech-to-text","z":"981b6208.c7f4c","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"gYiGKHKMMNI7BlvgDJ0aQn4t1oBepXLpwQwVARCtPrqJ","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":540,"y":380,"wires":[["5e50f6f1.40996"]]},{"id":"9d91cdde.97299","type":"watson-speech-to-text","z":"981b6208.c7f4c","name":"reserva 1","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"gYiGKHKMMNI7BlvgDJ0aQn4t1oBepXLpwQwVARCtPrqJ","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":80,"y":760,"wires":[[]]},{"id":"a370f843.ac695","type":"watson-speech-to-text","z":"981b6208.c7f4c","name":"reserva 2","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"gYiGKHKMMNI7BlvgDJ0aQn4t1oBepXLpwQwVARCtPrqJ","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":300,"y":760,"wires":[[]]},{"id":"d83aceb4.1ad278","type":"telegram sender","z":"981b6208.c7f4c","name":"","bot":"ff99fdd4.66918","x":1330,"y":260,"wires":[[]]},{"id":"25d103fd.a5657c","type":"telegram receiver","z":"981b6208.c7f4c","name":"","bot":"ff99fdd4.66918","saveDataDir":"","filterCommands":false,"x":90,"y":200,"wires":[["b708b4c1.8dd128","b531b4e9.3756f8"],[]]},{"id":"ff99fdd4.66918","type":"telegram bot","z":"","botname":"SlashicorpBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]